.card {
  padding: 0.5rem;
  background-color: var(--bg-tertiary);
  border: 0.125rem solid var(--border-color);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.status {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.light {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
}

.on {
  background-color: var(--active-green);
  box-shadow: 0 0 0.375rem var(--active-green);
}

.off {
  background-color: var(--inactive-red);
  box-shadow: 0 0 0.375rem var(--inactive-red);
}

.text {
	font-size: 1.1rem;
}

.control {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.action,
.log {
  padding: 0.15rem 0.25rem;
  width: 2.625rem;
	height: 1.5rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.start {
  background-color: var(--active-green);
  border: 0.0625rem solid var(--active-green-border);
  color: black;
}

.stop {
  background-color: var(--inactive-red);
  border: 0.0625rem solid var(--inactive-red-border);
  color: black;
}

.log {
  background-color: var(--bg-secondary);
  border: 0.0625rem solid var(--border-color);
  color: var(--text-tertiary);
}

.log:hover,
.start:hover,
.stop:hover {
  filter: brightness(1.2);
}

.log:active,
.start:active,
.stop:active {
  filter: brightness(0.8);
}
