.card {
  padding: 0.8rem;
  background-color: var(--bg-tertiary);
  border: 0.125rem solid var(--border-color);
  border-radius: 0.8rem;
  display: flex;
	align-items: center;
  gap: 0.4rem;
}

.light {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
	transition: all 0.3s ease;
}

.on {
  background-color: var(--active-green);
  box-shadow: 0 0 0.375rem var(--active-green);
}

.off {
  background-color: var(--inactive-red);
  box-shadow: 0 0 0.375rem var(--inactive-red);
}

.action {
  padding: 0.15rem 0.25rem;
	height: 1.5rem;
	width: 2.4375rem;
  border-radius: 0.3rem;
	font-weight: 700;
  cursor: pointer;
}

.start {
  color: var(--active-green);
}

.stop {
  color: var(--inactive-red);
}

.log {
  padding: 0.15rem 0.25rem;
  width: 2.625rem;
	height: 1.5rem;
	background-color: var(--bg-secondary);
	border: 0.125rem solid var(--border-color);
  border-radius: 0.3rem;
  font-size: 0.8rem;
	color: var(--text-tertiary);
  cursor: pointer;
}

.log:hover,
.start:hover,
.stop:hover {
  filter: brightness(1.2);
}

.log:active,
.start:active,
.stop:active {
  filter: brightness(0.8);
}
